{% extends "base2.html" %}

{% block content %}
<div class="card mt-5">
    <div class="card-header">
        Tizimdan chiqish
    </div>
    <form method="post"> {% csrf_token %}
        <div class="card-body">
               <p> Siz haqiqatdan ham tizimdan chiqib ketishni xohlaysizmi? </p> 
              <button type="submit" class="btn btn-danger" >Chiqish</button>
              <a class="btn btn-primary" href="{% url 'profile' %}">Profilga qaytish</a>
        </div>
    </form>
</div>
{% endblock content %}